@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Media Library</h1>
    <p>
        <br>
        This Web app was built with C#, ASP.NET Core, Razor Pages and hosted on Microsoft Azure and linked to an Azure SQL database.
    </p>
</div>
