@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Media Library</h1>
    <p>
        <br>
        This Web app was built with C#, ASP.NET Core, Razor Pages and hosted on Microsoft Azure and linked to an Azure SQL database.
        <br><br>
        Although sign-up and log-in is required to access the database, no emails will be sent and no email confirmation is required. Dummy emails are therefore acceptable.
        <br><br>
        Once logged in, the user may access an online media library where they can add entries for music or video games to list an overview over consumed media.
        Because music and video games require different details, they are stored in different tables in the Azure SQL database.
    </p>
</div>
